* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    background-color: rgb(231, 227, 228);
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-logo {
    display: flex;
    color: rgb(168, 137, 148);
    /* border: 2px solid gray; */
}

#navbar-logo {
    border: 2px solid black;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(168, 137, 148);
}

.navbar-search {
    border: 2px solid gray;
}

#navbar-search {
    height: 2rem;
    width: 12rem;
    border: none;
    border-right: 2px solid gray;
    background-color: rgb(231, 227, 228);
    padding-left: 1rem;
}

.fa-solid {
    width: 2rem;
    color: palevioletred;
    text-align: center;
}

.menubar {
    background-color: rgb(231, 227, 228);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    /* padding-left: 1rem; */
    color: palevioletred;
    height: auto;
    width: 20rem;
    border: 2px solid grey;
}

.home-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.customers-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.department-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.media-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.account-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.menubar i {
    padding-top: 0.7rem;
    color: white;
}

.content {
    display: flex;
}


.content-1 {
    display: flex;
    width: 63vw;
    justify-content: space-between;
    padding:1rem;
}

.content-1-section-1 {
    background-color: rgb(220, 240, 193);
    width: 12rem;
    height: 10rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.content-1-section-2 {
    background-color: rgb(207, 235, 247);
    width: 12rem;
    height: 10rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.content-1-section-3 {
    background-color: rgb(248, 213, 219);
    width: 12rem;
    height: 10rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;

}
.section1-table {
    padding-left: 1rem;
}
.section1-table,th,td{
    border: 2px solid rgb(201, 250, 220);
    border-collapse: collapse;
    height: 2.5rem;
    text-align: center;
}
.table-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 1rem;
}
.table-1 h2 {
    background-color:  rgb(206, 243, 243);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.section2-table,th,td{
    border: 2px solid rgb(182, 211, 221);
    border-collapse: collapse;
    height: 2.5rem;
    text-align: center;
}
.table-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 1rem;
}

.table-2 h2 {
    background-color: rgb(190, 229, 245);
    height: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.media {
    background-color: rgb(240, 189, 197);
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: x-large;
    font-weight: bold;
    margin-left: 1rem;
    border: 2px solid salmon;
    border-radius: .8rem;
}

.media-section {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    margin: 1rem;
}

.media-section div {
    background-color: rgb(255, 211, 218);
    height: 8rem;
    width: 7rem;
    border-radius: 1rem;
    border: 2px solid salmon;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}


#icon {
    text-decoration: none;
    color:palevioletred ;
    font-size: xx-large;
    font-weight: bold;
}
.home-logo:hover ,#icon:hover{
    background-color:palevioletred;
}
.customers-logo:hover ,#icon:hover {
    background-color:palevioletred;
}
.department-logo:hover ,#icon:hover {
    background-color:palevioletred;
}

.media-logo:hover,#icon:hover {
    background-color:palevioletred;
    color: white;  
}

.account-logo:hover,#icon:hover{
    background-color:palevioletred;
}