* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    background-color: rgb(231, 227, 228);
    justify-content: space-between;
    height: 4rem;
    /* width: 75rem; */
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-logo {
    display: flex;
    color: rgb(168, 137 , 148);
    /* border: 2px solid gray; */
}

#navbar-logo {
    border: 2px solid black;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(168, 137, 148);
}

.navbar-search {
    border: 2px solid gray;
}

#navbar-search {
    height: 2rem;
    width: 12rem;
    border: none;
    border-right: 2px solid gray;
    background-color: rgb(231, 227, 228);
    padding-left: 1rem;
}

.fa-solid {
    width: 2rem;
    color: palevioletred;
    text-align: center;
}

.menubar {
    background-color: rgb(231, 227, 228);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    /* padding-left: 1rem; */
    color: palevioletred;
    height: auto;
    width: 20rem;
    border: 2px solid grey;
}

.home-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.customers-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.department-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.home-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.media-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.account-logo {
    display: flex;
    border: 2px solid grey;
    border-radius: 10px;
}

.menubar i {
    padding-top: 0.7rem;
    color: white;
}

.content {
    display: flex;
}
.section {
    width: 100%;
}
.image-text {
    background-color: rgb(247, 197, 205);
    height: 3rem;
    width: auto;
    border: 2px solid rgb(248, 148, 137);
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 1rem;
}
.image-section {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    column-gap: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: space-evenly;
}
.image-section img {
    width: 15rem;
    border-radius: 1rem;
}
.Video-section {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
iframe {
    padding: 0.5rem;
}


#icon {
    text-decoration: none;
    color:palevioletred ;
    font-size: xx-large;
    font-weight: bold;
}
.home-logo:hover ,#icon:hover{
    background-color:palevioletred;
}
.customers-logo:hover ,#icon:hover {
    background-color:palevioletred;
}
.department-logo:hover ,#icon:hover {
    background-color:palevioletred;
}
.media-logo:hover,#icon:hover {
    background-color:palevioletred;
    color: white;  
}

.account-logo:hover,#icon:hover{
    background-color:palevioletred;
}